<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utdallas.itsummit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    -
    <compatible-screens>

        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />

        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />

        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />

        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />

        <screen
            android:screenDensity="420"
            android:screenSize="small" />

        <screen
            android:screenDensity="480"
            android:screenSize="small" />

        <screen
            android:screenDensity="560"
            android:screenSize="small" />

        <screen
            android:screenDensity="640"
            android:screenSize="small" />

        <!-- all normal size screens -->


        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />

        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />

        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />

        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />

        <screen
            android:screenDensity="420"
            android:screenSize="normal" />

        <screen
            android:screenDensity="480"
            android:screenSize="normal" />

        <screen
            android:screenDensity="560"
            android:screenSize="normal" />

        <screen
            android:screenDensity="640"
            android:screenSize="normal" />

    </compatible-screens>

    <application
        android:name="edu.utdallas.itsummit.ITSummitApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name="edu.utdallas.itsummit.activities.SplashActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.utdallas.itsummit.activities.MainActivity"
            android:theme="@style/MyAppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service
            android:name="edu.utdallas.itsummit.notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="edu.utdallas.itsummit.notifications.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>